{% load static %}

<header x-data="{ mobileMenuOpen: false, dropdownOpen: false }"
    class="bg-gradient-to-r from-blue-600 to-cyan-900  text-white">
    <div class="container mx-auto px-4 py-6">
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <img src="{% static 'images/logo.svg' %}" alt="School Logo" class="h-16 w-16 mr-4">
                <h1 class="text-3xl font-bold">Ottilianer</h1>
            </div>
            <nav class="hidden md:flex space-x-6 items-center">
                <a href="#home" class="hover:text-yellow-300 transition duration-300">Home</a>
                <a href="#activities" class="hover:text-yellow-300 transition duration-300">AGs</a>
                <a href="#diary" class="hover:text-yellow-300 transition duration-300">Tagebuch</a>
                <a href="#newspaper" class="hover:text-yellow-300 transition duration-300">Schülerzeitung</a>
                <div x-data="{ open: false }" class="relative z-50">
                    <button @click="open = !open" class="hover:text-yellow-300 transition duration-300">
                        Sonstiges
                        <svg class="w-4 h-4 inline-block ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                            </path>
                        </svg>
                    </button>
                    <ul x-show="open" @click.away="open = false"
                        class="absolute left-0 mt-2 w-48 bg-white text-gray-700 rounded-md shadow-lg">
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100">SMV-Kalender</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100">Neuaufnahme</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-purple-100">Praktikumsbörse</a></li>
                    </ul>
                </div>
                <button
                    class="relative group cursor-pointer text-sky-50  overflow-hidden h-12 w-40 rounded-3xl bg-red-600 p-2 flex justify-center items-center font-extrabold">

                    <div
                        class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-40 h-40 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-red-700">
                    </div>
                    <div
                        class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-32 h-32 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-yellow-500">
                    </div>
                    <div
                        class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-24 h-24 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-red-700">
                    </div>
                    <div
                        class="absolute top-3 right-20 group-hover:top-12 group-hover:-right-12 z-10 w-14 h-14 rounded-full group-hover:scale-150 group-hover:opacity-50 duration-500 bg-yellow-500">
                    </div>
                    <p class="z-10">Circus St. Ottilien</p>
                </button>
            </nav>
            <button @click="mobileMenuOpen = !mobileMenuOpen" class="md:hidden text-white">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </button>
        </div>
        <nav x-show="mobileMenuOpen" class="mt-4 md:hidden">
            <ul class="space-y-2">
                <li><a href="#home" class="block hover:text-yellow-300 transition duration-300">Home</a></li>
                <li><a href="#activities" class="block hover:text-yellow-300 transition duration-300">AGs</a></li>
                <li><a href="#diary" class="block hover:text-yellow-300 transition duration-300">Tagebuch</a></li>
                <li><a href="#newspaper" class="block hover:text-yellow-300 transition duration-300">Schülerzeitung</a>
                </li>
                <li x-data="{ open: false }">
                    <button @click="open = !open"
                        class="w-full text-left hover:text-yellow-300 transition duration-300">
                        Sonstiges
                        <svg class="w-4 h-4 inline-block ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                            </path>
                        </svg>
                    </button>
                    <ul x-show="open" class="ml-4 mt-2 space-y-2">
                        <li><a href="#" class="block hover:text-yellow-300 transition duration-300">SMV-Kalender</a>
                        </li>
                        <li><a href="#" class="block hover:text-yellow-300 transition duration-300">Neuaufnahme</a>
                        </li>
                        <li><a href="#" class="block hover:text-yellow-300 transition duration-300">Praktikumsbörse</a>
                        </li>
                    </ul>
                </li>
                <li><a href="" class="block font-bold hover:text-yellow-300 transition duration-300">Circus St.
                        Ottilien</a>
            </ul>
        </nav>
    </div>
</header>