{% load static %}

<section id="activities" class="mb-12">
    <h2 class="text-3xl font-bold mb-4">Arbeitsgemeinschaften</h2>
    <div class="grid md:grid-cols-3 gap-6">
        <a href="#" class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition duration-300">
            <img src="{% static 'images/placeholder.jpg' %}" alt="Theater-AG"
                class="w-full h-40 object-cover rounded-md mb-4">
            <h3 class="text-xl font-semibold mb-2">Holzweg</h3>
            <p>Lateiner bohren keine dünnen Bretter! Habt ihr das verstanden ihr Hühner?</p>
        </a>
        <a href="#" class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition duration-300">
            <img src="{% static 'images/placeholder.jpg' %}" alt="Robotik-AG"
                class="w-full h-40 object-cover rounded-md mb-4">
            <h3 class="text-xl font-semibold mb-2">Holzweg</h3>
            <p>Lateiner bohren keine dünnen Bretter! Habt ihr das verstanden ihr Hühner?</p>
        </a>
        <a href="#" class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition duration-300">
            <img src="{% static 'images/placeholder.jpg' %}" alt="Umwelt-AG"
                class="w-full h-40 object-cover rounded-md mb-4">
            <h3 class="text-xl font-semibold mb-2">Holzweg</h3>
            <p>Lateiner bohren keine dünnen Bretter! Habt ihr das verstanden ihr Hühner?</p>
        </a>
    </div>
    <div class="text-center mt-6">
        <a href="" class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300">
            Alle anzeigen</span>
        </a>
    </div>
</section>