<section id="newspaper" class="mb-12" x-data="{ showMore: false }">
    <h2 class="text-3xl font-bold mb-4">Der Flügelschlag</h2>
    <div class="bg-white p-6 rounded-lg shadow">
        <div class="md:flex">
            <img src="https://www.lto.de/fileadmin/_processed_/e/6/csm_AdobeStock_670314089_4f67f7ab6f.jpeg"
                alt="Aktuelle Ausgabe" class="w-full md:w-64 h-48 object-cover rounded-md mb-4 md:mb-0 md:mr-6">
            <div>
                <h3 class="text-2xl font-semibold mb-4">Aktuelle Ausgabe: Oktober 2024</h3>
                <ul class="list-disc list-inside space-y-2">
                    <li>Quintus Ennius</li>
                    <li>Lukrez</li>
                    <li>Gaius Cornelius Gallus</li>
                    <li>Tibull</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-6">
            <a href="" class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300">
                Mehr anzeigen</span>
            </a>
        </div>
    </div>
</section>