:root {
  --swiper-theme-color: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}
@media (min-width: 768px) {
  .swiper-button-next {
    right: -5px !important;
  }

  .swiper-button-prev {
    left: -5px !important;
  }
}
