{% load static %}

<section id="intro" class="mb-12">
    <div class="grid md:grid-cols-2 gap-8 items-center">
        <div>
            <h2 class="text-3xl font-bold mb-1">Wir sind Ottilianer</h2>
            <p class="text-lg font-bold  mb-4">Mehr als nur Schüler!</p>
            <p class="text-md">Das Rhabanus-Maurus-Gymnasium St. Ottilien hat mehr zu bieten als bloß Unterricht und
                Hausaufgaben. Neben zahlreichen
                AGs kann man sich auch bei der SMV oder bei den Schulsanitätern engagieren. Für musikalisch Begabte gibt
                es außerdem
                mehrere Chöre und Orchester. Doch auch der naturwissenschaftlich-technische Bereich kommt bei uns nicht
                zu kurz.
            </p>

        </div>
        <img src="{% static 'images/placeholder.jpg' %}" alt="Schulgebäude" class="w-full h-auto rounded-lg shadow-md">
    </div>
</section>