{% load static %}

<section id="diary" class="mb-12">
    <h2 class="text-3xl font-bold mb-4">Schul-Tagebuch</h2>
    <div class="space-y-4">
        <a href="#" class="block bg-white p-4 rounded-lg shadow hover:shadow-xl transition duration-300">
            <div class="md:flex">
                <img src="{% static 'images/placeholder.jpg' %}" alt="Sportfest"
                    class="w-full md:w-48 h-32 object-cover rounded-md mb-4 md:mb-0 md:mr-4">
                <div>
                    <h3 class="text-xl font-semibold mb-2">15. Mai 2023 - Holzweg</h3>
                    <p>Um die Frage auf dieses klassiche Fach auf dem Punkt zu bringen: Lateiner bohren keine
                        dünnen Bretter!</p>
                </div>
            </div>
        </a>
        <a href="#" class="block bg-white p-4 rounded-lg shadow hover:shadow-xl transition duration-300">
            <div class="md:flex">
                <img src="{% static 'images/placeholder.jpg' %}" alt="Kunstausstellung"
                    class="w-full md:w-48 h-32 object-cover rounded-md mb-4 md:mb-0 md:mr-4">
                <div>
                    <h3 class="text-xl font-semibold mb-2">10. Mai 2023 - Holzweg</h3>
                    <p>Um die Frage auf dieses klassiche Fach auf dem Punkt zu bringen: Lateiner bohren keine
                        dünnen Bretter!</p>
                </div>
            </div>
        </a>
    </div>
    <div class="text-center mt-6">
        <a href="" class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300">
            Alle anzeigen</span>
        </a>
    </div>
</section>